* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #d2d5da;
    align-items: center;
    justify-content: center;
}

.container {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #d2d5da;
    box-shadow: 0 0 10px 0.5px rgb(0, 0, 0);
    border-radius: 10px;
    background-color: white;
}

.pamflet {
    width: 200%;
    max-width: 300px;
    margin-right: 5px;
    border-radius: 10px;
}

form {
    width: 50%;
}

.scroll {
    height: 284px;
    padding-right: 8px;
    overflow: hidden;
    overflow-y: auto;
}

h4 {
    background-color: #175971;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 5px;
    margin-bottom: 0;
    border-radius: 8px 8px 0 0;
}

h5 {
    background-color: #175971;
    color: white;
    font-weight: normal;
    text-align: center;
    font-size: 15px;
    margin-bottom: 0;
    padding-bottom: 10px;
    border-radius: 0 0 8px 8px;
}

h6 {
    padding-bottom: 5px;
}

p {
    background-color: #175971;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 0;
    padding-bottom: 2px;
}

label {
    font-size: 15px;
}

option {
    font-size: 15px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    text-decoration: none;
    border: 1.5px solid #d2d5da;
    border-radius: 10px;
    background-color: rgb(236, 228, 228);
}

#submit {
    border: none;
    background-color: #175971;
    color: white;
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

#submit:hover {
    background-color: #333333;
}

input:focus,
select:focus,
#submit:focus {
    border-color: #175971;
    outline: none;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 90%;
    }
    .pamflet {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
    form {
        width: 100%;
    }
    #submit {
        width: 100%;
    }
}
