* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #d2d5da;
    align-items: center;
    justify-content: center;
}

.container {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 2px solid #d2d5da;
    box-shadow: 0 0 5px 0.5px rgb(219, 218, 218);
    border-radius: 10px;
    background-color: white;
}

.pamflet {
    width: 100%;
    max-width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}

form {
    width: 50%;
}

h4 {
    font-size: 24px;
    text-align: center;
    color: black;
    margin-bottom: 4px;
}

p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 2px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border: 1.5px solid #d2d5da;
    border-radius: 10px;
    background-color: rgb(236, 228, 228);
}

#submit {
    border: none;
    background-color: orangered;
    color: white;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#submit:hover {
    background-color: #333333;
}

input:focus,
select:focus,
#submit:focus {
    border-color: orangered;
    outline: none;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 90%;
    }
    .pamflet {
        width: 100%;
        max-width: none;
        margin-bottom: 20px;
    }
    form {
        width: 100%;
    }
    #submit {
        width: 100%;
    }
}
